
@media screen and (max-width:1024px){
    .banner {
        display:none;
    }
}

body {
    padding-top: 30px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
/*#counter {
background-color:black;
}*/
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Set padding to display errors that occur during databinding */
.padding-error {
    padding-top: 20px;
}

@media only screen and (max-width: 767px) {
    .nofloat {
        float: none;
        padding: 10px 15px;
    }
}

.btn-circle-xl {
    width: 150px;
    height: 150px;
    padding: 10px 16px;
    font-size: 14px;
    line-height: 1.33;
    border-radius: 100px;
    font-weight: bold;
} 