<ul class="nav navbar-nav">
    <li>@Html.ActionLink("Home", "Home", "Home", new { area = "" }, null)</li>
    <li>@Html.ActionLink("Token", "Create", "TokenQueues", new { area = "" }, null)</li>
    <li>@Html.ActionLink("Token List", "Index", "TokenQueues", new { area = "" }, null)</li>
</ul>
