@using qms.Utility 

@{ 
    SessionManager sm = new SessionManager(Session);
    if (sm.counter_id > 0)
    {
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Daily Services", "Index", "ServiceDetails", new { area = "" }, null)</li>
            <li>@Html.ActionLink("Daily Breaks", "Index", "DailyBreaks", new { area = "" }, null)</li>
        </ul>
    }
}