<ul class="nav navbar-nav">
    <li>@Html.ActionLink("Token Generation", "Create", "TokenQueues", new { area = "" }, null)</li>
    <li>@Html.ActionLink("Token List", "Index", "TokenQueues", new { area = "" }, null)</li>
</ul>
