@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    
        <div class="row">
            <h4 class="page-head-line">Customer Service Reports</h4>
            <div class="col-md-12">
               
                <div class="col-md-4">
                    <label class="radio">
                        <input type="radio" name="ReportOptionCS" value="ServiceDetails" /><strong>Customer Service Details Report</strong>
                        <br />
                    </label>
                    <label class="radio">
                        <input type="radio" checked="checked" name="ReportOptionCS" value="Summary" /><strong>Summary Reports</strong>
                        <br />
                    </label>
                </div>
                <div class="pull-right">
                    <table class="table table-striped table-bordered" style="font-weight: bold">
                        <tr>
                            <td>Branch</td>
                            <td>
                                @*<input type="text" class="form-control" id="txtBranch" name="txtempId" />*@
                                @* @Html.DropDownList("branch_id", null, htmlAttributes: new { @class = "form-control" })*@
                                @*<input type="hidden" id="BranchID" name="BranchID" />*@
                                <select name="branch_id" class="form-control" id="branch_id" required>
                                    <option value="">Select a Branch</option>
                                    @foreach (var item in ViewBag.branchList)
                                    {
                                        <option value="@item.branch_id">@item.branch_name</option>
                                    }
                                </select>

                            </td>
                        </tr>
                        <tr>
                            <td>Counter</td>
                            <td>
                                @* <input type="text" class="form-control" id="txtCounter" name="txtName" />*@
                                <select name="txtCounter" class="form-control" required id="txtCounter"></select>
                                @*<input type="hidden" name="SelectedName" id="SelectedName" />*@
                            </td>
                        </tr>
                        <tr>
                            <td>Token</td>
                            <td>
                                <select name="txtToken" class="form-control" required id="txtToken"></select>
                                @*<input type="text" class="form-control" id="txtToken" name="txtName" />
                                    <input type="hidden" name="SelectedName" id="SelectedName" />*@
                            </td>
                        </tr>
                        <tr>
                            @*<td>From Month</td><td><input type="text" class="dateTimePicker form-control" id="txtFromDatePF"/></td>*@
                            <td>From Date</td>
                            <td>
                                <input type="date" class="form-control" id="txtFromDate" />
                            </td>
                        </tr>
                        <tr>
                            @*<td>To Month</td><td><input type="text" class="dateTimePicker form-control" id="txtToDatePF"/></td>*@
                            <td>To Date</td>
                            <td>
                                <input type="date" class="form-control" id="txtToDate" />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12">

                <table class="pull-right">
                    <tr>
                        <td>
                            <input type="button" value="Clear Filter" style="width:130px;" id="RemoveFilter" class="btn btn-lg btn-color" />
                        </td>
                        
                        <td>
                            <input type="button" value="Report" style="width:130px;" onclick="GeneratePFReportRDLC('PDF')" class="btn btn-lg btn-color" />
                        </td>

                        @*<td>
                                <input type="button" value="Excel" onclick="GeneratePFReportRDLC('Excel')" class="btn btn-success" />
                            </td>
                            <td>
                                <input type="button" value="Word" onclick="GeneratePFReportRDLC('Word')" class="btn btn-info" />
                            </td>*@
                    </tr>
                </table>

            </div>

        </div>
    </div>
        @section scripts{
            <script src="~/Scripts/sqms/report.js"></script>

            
        }

