@model qms.Models.tblServiceType

@{
    ViewBag.Title = "Service Type Delete";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>tblServiceType</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.service_type_name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.service_type_name)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.service_type_id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
