<br />
@{
    ViewBag.Title = "Dashboard";
}
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <canvas id="serviceChart" width="400" height="200"></canvas>
        </div>
        <div class="col-lg-4">
            <canvas id="tokenChart" width="400" height="200"></canvas>
        </div>
        <div class="col-lg-4">
            <canvas id="statusChart" width="400" height="200"></canvas>
        </div>
    </div>
</div>
@section scripts {


    <script src="~/Scripts/sqms/dashboard-branch.js"></script>

}
